#background {
  
    background-image: url("./pictures/weatherForecastBackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}